@import "bootstrap.less";

body {
  background-color : #161616;
  padding-top: 20px;
}

//misc
@text-color: #ccc;

@border-radius-base:        0px;
@border-radius-large:       0px;
@border-radius-small:       0px;

//panels
@panel-bg: #1F1F1F;
@panel-default-text:          #ccc;
@panel-default-border:        #2F2F2F;
@panel-default-heading-bg:    #1F1F1F;

//tables
@table-bg:                      transparent;
@table-bg-accent:               #2F2F2F;
@table-bg-hover:                #2F2F2F;
@table-border-color:            #2F2F2F;

.panel-body.numeric-status {
  text-align: center;
  font-size : 4em;
  font-weight: bold;
}
