<nav class="navbar navbar-inverse navbar-top">
    <div class="container-fluid">
        <p class="navbar-text navbar-right"><span class="label" ng-class="{'label-success': connected, 'label-danger': !connected}">OK</span></p>
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                Fluentd Status
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-body numeric-status text-success">
                    {{numOnline}} Online
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-body numeric-status text-danger">
                    {{numOffline}} Offline
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <state-grid rows="stateData"></state-grid>
            </div>
        </div>
    </div>
</div>
