<nav class="navbar navbar-inverse navbar-top">
    <div class="container-fluid">
        <p class="navbar-text navbar-right" ng-class="{'online': connected, 'offline': !connected}">&#9635;</p>
        <div class="navbar-header">
            <span class="navbar-brand">
                <img alt="Brand" src="/ui/img/fluentd-logo-white-20.png">
                Fluentd Plugin Monitor
            </span>
        </div>
    </div>
</nav>
<div class="container-fluid">

    <div class="row" style="margin-bottom: 10px;">
        <div class="col-lg-12">
            <flot dataset="chartData" options="chartOptions" height="200px" width="100%"></flot>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-body numeric-status" ng-class="{'text-success': (numWarnings == 0), 'text-warning': (numWarnings > 0)}">
                    {{numOnline}} UP
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-body numeric-status text-danger">
                    {{numOffline}} DN
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div ng-class="{'col-lg-12': !selectedRow, 'col-lg-9': selectedRow}">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <form class="form-inline">
                        <div class="form-group" style="width: 100%">
                            <input class="form-control input-sm" style="width: 100%;" placeholder="filter" ng-model="filterKeyword"/>
                        </div>
                    </form>
                </div>
                <state-grid rows="filteredStateData" on-row-select="onRowSelect"></state-grid>
            </div>
        </div>
        <div  ng-if="selectedRow" class="col-lg-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Selected Plugin
                </div>
                <table class="table table-striped">
                    <tr><th>ID</th><td>{{selectedRow.ID}}</td></tr>
                    <tr ng-repeat="(propName, propValue) in selectedRow.PluginConfig"><th>{{propName}}</th><td>{{propValue}}</td></tr>
                </table>
            </div>
            <div class="panel panel-default" ng-if="selectedRow.Warnings.length > 0">
                <div class="panel-heading">
                    Warnings
                </div>
                <table class="table table-striped">
                    <tr ng-repeat="warning in selectedRow.Warnings"><td>{{warning}}</td></tr>
                </table>
            </div>
        </div>
    </div>
</div>
